
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}


html, body {
    height: 100%; /* Full viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Makes layout vertical */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

button {
    display: flex;               
    justify-content: center;     
    align-items: center; 
    background-color: pink;
    color: red;
    height: 30px;
    border-radius: 15px;
    padding: 15px;
}

header {
    background-color: red;
    width: 100vw;
    height: 40px;
}

.container {
    display: flex;
    flex: 1; 
    justify-content: center;
    margin: 20px;
    overflow-y: auto;
}

#content {
    background: url(hellBackground.jpg) no-repeat center / cover;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h1 {
    font-weight: 600;
    font-size: 3rem;
}

.hellImage {
    border: 3px solid burlywood ;
}

.box {
    background-color: brown;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: red;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto; 
}

.menuHeader {
    background-color: black;
    color: red;
    padding: 10px;
}